<% provide(:title, "Home") %>
<div class="hero-unit">
	<h1>Hi, I'm Aaron</h1>
	<p>And this is my website.</p>
	<h2>Who am I?</h2>
	<p>I'm a rising sophomore at Case Western Reserve University studying computer science.
	I'm not all that great at writing things up so right now you're left with this for my About Me.
	If you feel like reading more, then start clicking around.  There's a link to my blog up top and 
	maybe I'll even write a post or two on it.</p>
</div>
