<% provide(:title, "Home") %>
<div class="hero-unit">
	<h1>Hi, I'm Aaron</h1>
	<p>And this is my website.</p>
	<h2>Who am I?</h2>
	<p>I'm a rising sophomore at Case Western Reserve University studying computer science.
	If you feel like reading more, then start clicking around.  There's a link to my blog up top and 
	maybe I'll even write a post or two on it.</p>
	<h2>What is this website?</h2>
	<p>This is a website I'm building using Ruby on Rails.  It is still largely under development.  You 
	can read more about it at my blog entry <%= link_to "here", post_path(1) %>.</p>
</div>
