---
layout: default
title: Home
---
.hero-unit
  %h1 Hi I'm Aaron
  %p
    I'm a sophomore at Case Western Reserve University, studying computer science.
    I keep myself occupied with Humans vs Zombies core, Hackers Society, and ACM,
    which I am currently the president of.
  %p
    This website was made as a way to learn Rails, although it has since been
    switched over to use Jekyll with hosting through github pages. I have a blog,
    there's a link up top if you want to check it out. I might occasionally write
    things on there. If you're intersted in things I'm doing, there's a link to
    my Github on the right.
