%header.navbar
  .navbar-inner.my-header
    .container-fluid
      = link_to "Aaron Neyer", "/", class: 'brand'
      %nav
        %ul.nav
          %li= link_to "Home", '/'
          %li= link_to "Blog", "/blog"
          %li= link_to "Projects", "/projects"
