!!!
%html
  %head
    %title=# full_title(yield(:title))
    = #analytics_init
    %link{rel: "stylesheet", type: "text/css", href: "public/application.css"}
    %script{type: "text/javascript", src: "public/application.js"}
  %body
    = render 'layouts/header'
    .container-fluid
      .row-fluid
        .span10
          =# yield
        .span2
          .well
            = render 'layouts/sidebar'
