!!!
%html
  %head
    %title Aaron Neyer | {{page.title}}
    == {% stylesheet app %}
    == {% javascript app %}
  %body
    %header.navbar
      .navbar-inner.my-header
        .container-fluid
          %a{href: "/", class: "brand"} Aaron Neyer
    .container-fluid
      .row-fluid
        .span10
          .well== {{ content }}
        .span2
          .well
            %h3 Links
            %nav
              %a{href: "http://github.com/Aaronneyer"} Github
              %br
              %a{href: "/resume.pdf"} Resume
              %br
              %a{href: "/id_rsa.pub"} Public Key
              %br
              %a{href: "mailto:aaron@aaronneyer.com"} Email
              %br
              %a{href: "https://plus.google.com/105911866099025277294"} Google+
              %br
              %a{href: "https://www.facebook.com/aaron.neyer"} Facebook
