!!!
%html
  %head
    %title page.title
    == {% stylesheet app %}
    == {% javascript app %}
  %body
    %header.navbar
      .navbar-inner.my-header
        .container-fluid
          %a{href: "/", class: "brand"} Aaron Neyer
          %nav
            %ul.nav
              %li
                %a{href: "/"} Home
              %li
                %a{href: "/blog.html"} Blog
              %li
                %a{href: "/projects.html"} Projects
      .container-fluid
        .row-fluid
          .span10
            .well== {{ content }}
          .span2
            .well
              %h3 Links
              %nav
                %a{href: "http://github.com/Aaronneyer"} Github
                %a{href: "/resume.pdf"} Resume
                %a{href: "/id_rsa.pub"} Public Key
                %a{href: "mailto:aaron@aaronneyer.com"} Email
                %a{href: "https://plus.google.com/105911866099025277294"} Google+
                %a{href: "https://www.facebook.com/aaron.neyer"} Facebook
