//= require vendor/bootstrap/bootstrap
/* mixins */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* universal */

html {
	overflow-y: scroll;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* posts */

.post_title {
	a {
		color: #000;
	}
}

.comments {
	margin-top: 40px;
}
