<!DOCTYPE html>
<html>
  <head>
    <title>Aaron Neyer | {{page.title}}</title>
    <script src="/js/jquery.js"> </script>
    <script src="/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/app.css" type="text/css" media="all" />
  </head>
  <body>
    <nav class='navbar navbar-default'>
      <div class='container'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='/'>Aaron Neyer</a>
      </div>
      <div class='navbar-collapse collapse' id='navbar-main'>
        <ul class='nav navbar-nav'>
          <li class='dropdown'>
            <a class='dropdown-toggle' data-toggle='dropdown' href='#' id='links'>
              Links
              <span class='caret'></span>
            </a>
            <ul class='dropdown-menu'>
              <li>
                <a href='http://github.com/Aaronneyer'>Github</a>
              </li>
              <li>
                <a href='https://plus.google.com/+AaronNeyer'>Google+</a>
              </li>
              <li>
                <a href='https://www.facebook.com/aaron.neyer'>Facebook</a>
              </li>
              <li>
                <a href='https://www.linkedin.com/pub/aaron-neyer/62/a5b/a63'>LinkedIn</a>
              </li>
              <li>
                <a href='mailto:aaron@neyer.io'>Email</a>
              </li>
              <li>
                <a href='/id_rsa.pub'>Public Key</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class='container'>
      {{ content }}
    </div>
  </body>
</html>
