<!DOCTYPE html>
<html>
  <head>
    <title>Aaron Neyer | {{page.title}}</title>
    <script src="/js/jquery.js"> </script>
    <script src="/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/bootstrap-theme.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/app.css" type="text/css" media="all" />
  </head>
  <body>
    <nav class='navbar navbar-default'>
      <div class='navbar-header'>
        <div class='container'>
          <a class='navbar-brand' href='/'>Aaron Neyer</a>
        </div>
      </div>
    </nav>
    <div class='container'>
      <div class='row'>
        <div class='col-md-10'>
          <div class='well'>{{ content }}</div>
        </div>
        <div class='col-md-2'>
          <div class='well'>
            <h3>Links</h3>
            <nav>
              <a href='http://github.com/Aaronneyer'>Github</a>
              <br>
              <a href='/resume.pdf'>Resume</a>
              <br>
              <a href='/id_rsa.pub'>Public Key</a>
              <br>
              <a href='mailto:aaron@aaronneyer.com'>Email</a>
              <br>
              <a href='https://plus.google.com/105911866099025277294'>Google+</a>
              <br>
              <a href='https://www.facebook.com/aaron.neyer'>Facebook</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
