<footer class="footer">
<small>
	Site built using <%= link_to "Rails", "http://rubyonrails.org" %> and  <%= link_to "Bootstrap.", "http://twitter.github.com/bootstrap/" %>
</small>
<nav>
<ul>
	<% if signed_in? %>
		<li><%= link_to "#{current_user.name}: Sign Out", signout_path, method: 'delete' %></li>
	<% else %>
		<li><%= link_to "Sign in", signin_path %></li>
	<% end %>
</ul>
</nav>
</footer>
